.header {
  background-color: #00b3fe;
  height: 450px;
  padding-top: 50px;
  text-align: center;
}
.header .title-container {
  margin: 0 auto;
  display: inline-block;
  top: 100px;
  position: relative;
  opacity: 0;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.header .title-container.final {
  top: 50px;
  opacity: 1;
}
.header .title-container h1,
.header .title-container h2 {
  color: white;
  font-family: 'Bitter', serif;
  font-weight: 700;
}
.header .title-container h1 {
  margin-top: 10px;
}
.header .title-container h2 {
  font-weight: 400;
}
.header .title-container .circle {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  font-size: 20px;
  color: #fff;
  line-height: 100px;
  text-align: center;
  background-color: white;
  margin: 0 auto;
  overflow: hidden;
}
.header .title-container .circle > img {
  height: 100%;
}
.aboutMe {
  background-color: #F8F8F8;
  text-align: center;
  padding-bottom: 20px;
}
.aboutMe h3 {
  margin: 0 auto;
  color: #333;
  padding-top: 15px;
}
.aboutMe hr {
  width: 100px;
  margin: 10px auto;
  border: none;
  height: 1px;
  /* Set the hr color */
  color: #333;
  /* old IE */
  background-color: #333;
  /* Modern Browsers */
}
.aboutMe section {
  text-align: left;
  margin: 0 20%;
  padding-top: 10px;
}
.career {
  background-color: #F8F8F8;
}
.career #career-title {
  height: 300px;
  overflow: hidden;
  display: block;
  text-align: center;
}
.career #career-title > img {
  width: 100%;
  position: relative;
}
.career #career-title h2 {
  color: white;
  font-family: 'Bitter', serif;
  font-weight: 700;
  position: relative;
  top: -230px;
  font-size: 55px;
}
.career .experience {
  margin: 0 20%;
  padding-top: 20px;
  height: 200px;
}
.career .experience .logo {
  display: inline-block;
  height: 100%;
  width: 25%;
  margin: 0px;
  vertical-align: top;
  text-align: center;
}
.career .experience .logo > img {
  height: 100%;
  max-width: 100%;
  margin: 0 auto;
}
.career .experience .description {
  display: inline-block;
  height: 100%;
  width: 74%;
  margin: 0px;
  padding-left: 15px;
}
.career .experience .description > .enterprise {
  margin-bottom: 0px;
  font-size: 20px;
}
