hr {
  margin: 10px auto;
  border: none;
  height: 1px;
  /* Set the hr color */
  color: #DADADA;
  /* old IE */
  background-color: #DADADA;
  /* Modern Browsers */
}
h3 {
  margin: 0 auto;
  color: #333;
  padding-top: 15px;
}
.anchor {
  position: relative;
  top: -50px;
}
@media (max-width: 992px) {
  .anchor {
    top: 0px;
  }
}
p,
h3,
h2 {
  font-family: 'Roboto';
}
p {
  font-size: 16px;
}
.navbar {
  padding: 0 20%;
}
@media (max-width: 992px) {
  .navbar {
    display: none;
  }
}
.navbar .container {
  padding: 0px !important;
}
/* Side Menu */
#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  right: 0;
  width: 250px;
  height: 100%;
  margin-right: -250px;
  overflow-y: auto;
  background: #222;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}
.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999;
}
.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
  height: 55px;
  font-size: 18px;
  line-height: 55px;
}
.sidebar-nav > .sidebar-brand a {
  color: #999;
}
.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}
#menu-toggle {
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.65);
}
#sidebar-wrapper.active {
  right: 250px;
  width: 250px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.toggle {
  margin: 5px 5px 0 0;
}
.title {
  height: 300px;
  overflow: hidden;
  display: block;
  text-align: center;
}
.title > img {
  width: 100%;
  position: relative;
}
.title h2 {
  color: white;
  font-family: 'Bitter', serif;
  font-weight: 700;
  position: relative;
  top: 95px;
  font-size: 55px;
}
@media (max-width: 992px) {
  .title h2 {
    top: 55px;
    font-size: 45px;
  }
}
@media (max-width: 767px) {
  .title h2 {
    font-size: 35px;
  }
}
.header {
  background-color: #00b3fe;
  height: 450px;
  padding-top: 50px;
  text-align: center;
}
@media (max-width: 992px) {
  .header {
    padding-top: 10px;
  }
}
.header .title-container {
  margin: 0 auto;
  display: inline-block;
  top: 100px;
  position: relative;
  opacity: 0;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
@media (max-width: 992px) {
  .header .title-container {
    top: 150px;
  }
}
.header .title-container.final {
  top: 50px;
  opacity: 1;
}
.header .title-container h1,
.header .title-container h2 {
  color: white;
  font-family: 'Bitter', serif;
  font-weight: 700;
}
.header .title-container h1 {
  margin-top: 10px;
}
.header .title-container h2 {
  font-weight: 400;
}
.header .title-container .circle {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  font-size: 20px;
  color: #fff;
  line-height: 100px;
  text-align: center;
  background-color: white;
  margin: 0 auto;
  overflow: hidden;
}
.header .title-container .circle > img {
  height: 100%;
}
.aboutMe {
  background-color: #F8F8F8;
  text-align: center;
  padding-bottom: 20px;
}
.aboutMe h3 {
  margin: 0 auto;
  color: #333;
  padding-top: 15px;
}
.aboutMe hr {
  width: 100px;
  margin: 10px auto;
  border: none;
  height: 1px;
  /* Set the hr color */
  color: #DADADA;
  /* old IE */
  background-color: #DADADA;
  /* Modern Browsers */
}
.aboutMe section {
  text-align: left;
  margin: 0px 20%;
  padding-top: 10px;
  position: relative;
  right: 2000px;
  display: inline-block;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
@media (max-width: 992px) {
  .aboutMe section {
    margin: 0 5%;
  }
}
.aboutMe section.final {
  right: 0px;
}
.aboutMe section .title_div {
  text-align: center;
}
.career {
  background-color: #F8F8F8;
  padding-bottom: 20px;
}
.career #career-title {
  background: url(../img/carrera3.jpg) no-repeat center center scroll;
  background-size: 100%;
}
@media (max-width: 992px) {
  .career #career-title {
    background: url(../img/carrera3.jpg) no-repeat;
    height: 200px;
    background-size: cover;
    background-position: right;
  }
}
.career .experience {
  margin: 0 20%;
  padding-top: 20px;
  clear: both;
}
@media (max-width: 992px) {
  .career .experience {
    margin: 0 5%;
    padding-top: 0px;
  }
}
.career .experience .container {
  width: auto !important;
}
.career .experience .container .logo {
  display: inline-block;
  height: 100%;
  margin: 0px;
  vertical-align: top;
  text-align: center;
}
.career .experience .container .logo > img {
  max-width: 100%;
  margin: 0 auto;
  padding: 25px;
}
@media (max-width: 992px) {
  .career .experience .container .logo > img {
    height: 200px;
  }
}
.career .experience .container .description {
  display: inline-block;
  height: 100%;
  margin: 0px;
  padding-left: 15px;
}
.career .experience .container .description > .enterprise {
  margin-bottom: 0px;
  font-size: 20px;
}
.technologies #technologies-title {
  background: url(../img/techononon.jpg) no-repeat center center scroll;
  background-size: 100%;
}
@media (max-width: 992px) {
  .technologies #technologies-title {
    background: url(../img/techononon.jpg) no-repeat;
    height: 200px;
    background-size: cover;
  }
}
.technologies .tech {
  margin: 0 20%;
  padding: 20px 0;
  clear: both;
  text-align: center;
}
@media (max-width: 992px) {
  .technologies .tech {
    margin: 0 5%;
  }
}
.technologies .tech hr {
  width: 100px;
  margin-bottom: 25px;
}
.technologies .tech .container {
  width: auto !important;
}
.technologies .tech .container .row > div {
  text-align: center;
  margin-bottom: 25px;
}
.technologies .tech .container .row .logo {
  height: 150px;
  width: 150px;
  margin: 0 auto;
}
.technologies .tech .container .row .logo > img {
  width: 100%;
  margin: auto;
}
.portfolio #portfolio-title {
  background: url(../img/porfolioioioi.jpg) no-repeat center center scroll;
  background-size: 100%;
}
@media (max-width: 992px) {
  .portfolio #portfolio-title {
    background: url(../img/porfolioioioi.jpg) no-repeat;
    height: 200px;
    background-size: cover;
  }
}
.portfolio #portfolio_main {
  margin: 0 20%;
  padding: 75px 0;
  clear: both;
  text-align: center;
}
@media (max-width: 992px) {
  .portfolio #portfolio_main {
    margin: 0 5%;
  }
}
.portfolio #portfolio_main .container {
  width: auto;
}
footer {
  background-color: #2F2F2F;
  padding-top: 60px;
}
footer p,
footer a,
footer h4,
footer li,
footer i {
  font-color: rgba(195, 195, 195, 0.9);
  color: rgba(195, 195, 195, 0.9);
}
footer hr {
  color: #B7B2B2;
  background-color: #B7B2B2;
}
footer [class^="flaticon-"]::before {
  font-size: 29px;
}
